*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: transparent;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1260px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 1260px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

/* Header */
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 30px;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
  padding: 28px 0;
  display: block;
  font-size: 14px;
  transition-duration: 150ms;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}

.header-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  background: #bbf330;
  border: none;
  cursor: pointer;
  transition: 250ms;
  color: #2c2c2c;
}

.header-btn:hover,
.header-btn:focus {
  background: #ffe450;
}

.header-container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mob-burger-btn {
    border: none;
    background-color: transparent;
  }

  .visually-hidden-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 320px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .visually-hidden-burger {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/* Main */
/* Hero Section */

.phone-image {
  background-image: url(../images/desk-phone1.png);
  background-repeat: no-repeat;
  background-position: center 85%;
}

@media (max-width: 1260px) {
  .phone-image {
    background-image: url(../images/tablet-phone1.png);
    background-repeat: no-repeat;
    background-position: center 85%;
  }
}

@media (max-width: 768px) {
  .phone-image {
    background-image: url(../images/mobile480First.png);
    background-repeat: no-repeat;
    background-position: center 370px;
  }
}

@media (max-width: 479px) {
  .phone-image {
    background-image: url(../images/mob-phone-image1.png);
    background-repeat: no-repeat;
    background-position: center 370px;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding: 14px 0 0 0;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
  max-width: 502px;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 40px;
  max-width: 511px;
}

.hero-image {
  border-radius: 50%;
  border: #ffe550 14px solid;
  transition: 700ms;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  width: 580px;
  height: 580px;
  border: 26px solid #ffe550;
  overflow: hidden;
  border-radius: 50%;
  transition: 700ms;
}

.slider:hover {
  border: 26px solid #bbf330;
}

.slider-line {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: 450ms;
}

.slider-prev {
  height: 40px;
  width: 48px;
  border-radius: 8px;
  border: none;
  margin: -30px;
  z-index: 99;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.slider-next {
  height: 40px;
  width: 48px;
  border-radius: 8px;
  border: none;
  margin: -30px;
  z-index: 99;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.slider-rows {
  transition: 500ms;
}

.slider-prev:hover > .slider-rows,
.slider-next:hover > .slider-rows {
  fill: #7eb101;
}

.slider-prev:active,
.slider-next:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
}

.hero-image:hover,
.hero-image:focus {
  border: 20px solid #bbf330;
}

@media (max-width: 1260px) {
  .hero {
    padding: 60px 0 25px 0;
    position: relative;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    max-width: 537px;
  }

  .hero-text {
    max-width: 336px;
  }

  .slider {
    max-width: 336px;
    max-height: 320px;
    border: 14px solid #ffe550;
  }

  .slider:hover {
    border: 14px solid #bbf330;
  }

  .slider-container {
    position: absolute;
    left: 420px;
    top: 100px;
  }

  .slider-image {
    width: 292px;
    height: 292px;
  }
}

@media (max-width: 768px) {
  .hero-title {
    max-width: 280px;
    font-weight: 700;
    font-size: 28px;
    color: #2c2c2c;
  }

  .hero-text {
    max-width: 266px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    line-height: 1.42857;
    color: #2c2c2c;
  }
}

/* Second section */

.service-section {
  padding: 60px 0 100px 0;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.service-block {
  max-width: 573px;
}

.service-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.service-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 40px;
}
.service-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.service-list-item {
  width: 253px;
}
.service-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c2c2c;
  margin-bottom: 16px;
}

.service-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.service-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background: #fff;
  transition: 250ms;
  margin-right: 24px;
}

.service-btn:hover,
.service-btn:focus {
  border: none;
  background: #bbf330;
}

.service-apple-container {
  background-color: #fefefe;
  border-radius: 50%;
  width: 502px;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-icon-block {
  background-color: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

@media (min-width: 768px) and (max-width: 1260px) {
  .service-section {
    padding: 113px 0 100px 0;
    background-image: url(../images/tablet-phone1.png);
    background-repeat: no-repeat;
    background-position: center 0%;
  }

  .service-container {
    flex-direction: column;
    align-items: start;
    gap: 60px;
  }

  .service-image {
    max-width: 357px;
    max-height: 394px;
    margin-right: 29px;
  }

  .service-item-text {
    width: 288px;
  }

  .tablet-service-apples {
    display: flex;
    align-items: center;
  }

  .transparent-apples {
    display: flex;
    align-items: flex-end;
    gap: 44px;
  }

  .service-tab-transparent-apple {
    margin-right: 44px;
  }
}
@media (max-width: 768px) {
  .service-section {
    padding-bottom: 120px;
    padding-top: 0;
  }

  .service-block {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .service-image {
    width: 280px;
    height: 309px;
  }

  .service-title {
    font-size: 28px;
    margin-top: 0;
  }

  .service-text {
    font-size: 14px;
    line-height: 20px;
    line-height: 1.42857;
    color: #2c2c2c;
    margin-bottom: 28px;
  }

  .service-list {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 28px;
  }

  .service-container {
    flex-direction: column;
    gap: 60px;
  }

  .service-btn-block {
    display: flex;
    align-items: center;
  }
}

/*  Menu section*/

.section-menu {
  padding: 20px 0 101px 0;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.menu-item {
  border-radius: 50%;
  border: 11px solid #ffe550;
  padding: 19px;
  transition: 700ms;
  flex-basis: calc((100% - 4 * 32px) / 3);
}

.menu-title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.menu-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.menu-item:hover,
.menu-item:focus {
  border: 11px solid #bbf330;
}

@media (max-width: 1260px) {
  .section-menu {
    padding: 100px 0;
  }

  .menu-item {
    flex-basis: calc((100% - 4 * 32px) / 2);
  }

  .menu-image {
    width: 267px;
  }
}

@media (max-width: 768px) {
  .section-menu {
    padding-top: 0;
  }

  .menu-title {
    font-size: 28px;
  }

  .menu-list {
    flex-direction: column;
  }
}

/* Contact section */
.phone-image2 {
  padding: 100px 0 0 0;
  background-image: url(../images/desk-phone2.png);
  background-repeat: no-repeat;
  background-position: center 0%;
}

.contact-title {
  font-weight: 700;
  font-size: 42px;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.contact-text {
  font-weight: 400;
  font-size: 16px;
  color: #2c2c2c;
  margin-bottom: 32px;
}

.contact-list {
  display: flex;
  gap: 139px;
}

.contact-list-item {
  background-color: #fff;
  border-radius: 30px;
  padding: 14px;
  border-top-left-radius: 0;
}

.item-text {
  font-weight: 700;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 40px;
  width: 473px;
  margin-top: 29px;
}

.item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 2px;
}

.item-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  line-height: 1.5;
  color: #2c2c2c;
}

.person-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.person-info::after {
  content: "";
  width: 1px;
  height: 52px;
  background-color: #7eb101;
}

@media (max-width: 1260px) {
  .phone-image2 {
    background-image: url(../images/tablet-phone2.png);
    background-repeat: no-repeat;
    background-position: center 0%;
  }

  .contact-list {
    gap: 32px;
  }

  .contact-list-item {
    max-width: 336px;
  }

  .item-text {
    max-width: 312px;
  }

  .banan {
    max-width: 281px;
    position: absolute;
    left: 450px;
    top: -135px;
  }
}

@media (max-width: 768px) {
  .phone-image2 {
    background-image: url(../images/mobile480Second.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    padding-top: 60px;
  }

  .section-menu {
    padding-bottom: 50px;
  }
}

@media (max-width: 479px) {
  .phone-image2 {
    background-image: url(../images/mob-phone-image2.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 28px;
  }

  .contact-text {
    font-size: 14px;
  }

  .contact-list {
    flex-direction: column;
    gap: 24px;
  }

  .contact-list-item {
    width: 280px;
    height: 247px;
  }

  .item-text {
    font-size: 16px;
    width: 264px;
  }

  .banan {
    left: 60px;
    top: -170px;
    width: 200px;
  }
}

/* Bottom section */

.bottom-container {
  display: flex;
  align-items: center;
  margin-top: 120px;
}

.bottom-section {
  padding: 0 0 64px 0;
}

.bottom-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.bottom-section-input {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  height: 42px;
  margin-right: 32px;
  background: #fefefe;
  width: 394px;
  height: 42px;
  transition: 250ms;
}

.bottom-section-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  line-height: 1.5;
  color: #505050;
}

.bottom-section-input:placeholder-shown {
  border: 0.85px solid #ffe550;
}

.bottom-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: #bbf330;
  border: none;
  transition: 250ms;
}

.bottom-btn:hover,
.bottom-btn:focus {
  background: #ffe450;
}

@media (max-width: 1260px) {
  .bottom-section {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .bottom-container {
    margin-top: 100px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .bottom-section {
    padding-bottom: 60px;
  }

  .bottom-title {
    font-size: 28px;
    width: 280px;
  }

  .bottom-text {
    width: 280px;
  }

  .bottom-section-input {
    width: 278px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .bottom-btn {
    margin-left: auto;
    display: block;
  }
}

/* Footer section */

.footer {
  padding: 100px 0;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  background-image: url(/images/Fruit\ Futer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1500px;
}

.footer-upper-row {
  display: flex;
  margin-bottom: 80px;
}

.footer-logo {
  margin-right: 143px;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 28px;
}

.footer-list-item {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
}

.second-footer-list {
  display: flex;
  gap: 20px;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
}

.form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 12px;
}

.footer-input {
  margin-bottom: 12px;
  margin-right: 13px;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  border: 0.85px solid #7eb101;
  transition: 250ms;
  background: #fefefe;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  line-height: 1.5;
  color: #505050;
}

.footer-input:placeholder-shown {
  border: 0.85px solid #ffe550;
}

.footer-privacy-policy {
  font-weight: 400;
  font-size: 12px;
  color: #2c2c2c;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.form-btn {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  transition: 250ms;
  color: #2c2c2c;
}

.form-btn:hover,
.form-btn:focus {
  border: 2px solid #ffe450;
}

.second-list-item {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

@media (max-width: 1260px) {
  .footer-upper-row {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .footer-logo {
    margin-right: 114px;
    margin-bottom: 40px;
  }

  .footer-form-container {
    display: block;
  }

  .footer {
    background-image: url(../images/tablet-footer-phone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 768px;
  }
}

@media (max-width: 768px) {
  .footer-list {
    flex-direction: column;
  }

  .footer-logo {
    margin-right: 60px;
  }

  .footer-upper-row {
    row-gap: 40px;
    margin-bottom: 60px;
  }

  .footer-input {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-btn {
    margin-bottom: 24px;
  }

  .footer-bottom-row {
    flex-direction: column;
    gap: 40px;
  }

  .second-list-item {
    font-size: 10px;
  }

  .footer {
    background-image: url(../images/mobile-footer-phone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 320px;
    padding-bottom: 60px;
  }
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 99, 99, 0.7);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 700ms;
  z-index: 999;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  margin-top: 129px;
  width: 458px;
  height: 449px;
  background: #ffe550;
  border-radius: 30px;
  padding: 32px;
  position: relative;
}

.form-title {
  text-align: center;
}

.close-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  margin-right: auto;
  position: absolute;
  top: 12px;
  right: 12px;
  transition: 150ms;
  cursor: pointer;
  padding: 7px;
}

.close-icon {
  fill: rgb(0, 0, 0);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #7eb101;
}

.form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.4;
  color: #2c2c2c;
  margin-bottom: 2px;
  margin-left: 12px;
}

.form-input {
  border: 1px solid #7eb101;

  border-radius: 30px;
  width: 394px;
  height: 48px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  margin-bottom: 24px;
  padding: 12px;
  transition: 250ms;
}

.form-input:placeholder-shown {
  border: 1px solid rgba(18, 18, 18, 0.12);
}

.form-button {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  line-height: 1.5;
  color: #2c2c2c;
  transition: 150ms;
  cursor: pointer;
}

.form-button:active {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background: #bbf330;
}

.form-button:hover {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.25;
  color: #c4c4c4;
}

@media (max-width: 1260px) {
  .modal {
    margin-top: 60px;
  }
}

@media (max-width: 678px) {
  .modal {
    width: 320px;
    height: 450px;
    padding: 20px;
  }

  .form-input {
    width: 280px;
  }
}

/*Mobile Menu */

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  background-color: #ffffff;
  border-radius: 30px 0 30px 30px;
  width: 130px;
  height: 255px;
  z-index: 9;
  overflow: hidden;
  box-shadow: 10px 5px 5px rgba(129, 118, 118, 0.664);
  opacity: 0;
  pointer-events: none;
  transition-duration: 300ms;
}

.menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.menu-container {
  position: relative;
}

.menu-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition-duration: 100ms;
}

.menu-close-btn:active {
  fill: #bbf330;
}

.menu-nav-list {
  width: 100%;
  height: 100%;
}

.menu-nav-link {
  margin-left: 16px;
  padding: 17px 0px;
  padding-right: 100px;
}

.menu-nav-item {
  padding: 17px 0;
}

.menu-nav-item:active {
  background: #bbf330;
}
